<h1>Create a new account</h1>
<div>
	<% if @musician.errors %>
		<% @musician.errors.full_messages.each do |error| %>
			<% flash[:alert] = error %>
			<%= render_flash_messages dismissible: true %>
		<% end %>
	<% end %>
	<%= render 'form' %>
</div>
<br>
<%= link_to "Cancel", welcome_path %>