<h1>Welcome to Music Mastery</h1>
<div class="log-in-menu">
	<div>
		<p>Already have an account?</p>
		<%= link_to "LOG IN", login_path, class: 'link'  %>
	</div>
	<div>
		<p>New here?</p>
		<%= link_to "SIGN UP", signup_path, class: 'link'  %>
	</div>
</div>
<p><%= link_to "Log In/Sign Up Using Github", '/auth/github', class: 'link' %></p>