<h1>Welcome to Music Mastery</h1>
<div class="left-half">
	<p>Already have an account?</p>
	<%= link_to "LOG IN", root_path  %> <!-- login_path -->
</div>
<div class="right-half">
	<p>New here?</p>
	<%= link_to "SIGN UP", signup_path  %> <!-- signup_path -->
</div>