<h1>Available Pieces</h1>
<%= index_if_pieces %>
<p><%= link_to "Create new sheet music", new_instrument_piece_path(@instrument), class: 'link' %></p>
<p><%= link_to "Back", instrument_path(@instrument), class: 'cancel' %></p>